<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
</head>
<body>
    <header>
        @Html.Sitecore().Placeholder("header")
    </header>

    <main>
        Test ...
        @Html.Sitecore().Placeholder("body")
    </main>

    <footer>
        @Html.Sitecore().Placeholder("footer")
    </footer>
</body>
</html>
